body{
    background-color: #232a3b;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    font-family: arial;
}
.userLog{
  width: 400px;
  height: 400px;
  frameborder: 0px;
  font: arial;
}
.userBox{
  text-align: left;
  font: arial;
  font-size: 15px;
}
.chatBox {
    border-radius:20px 20px;
    text-align: left;
    margin: auto;
    height: 500px;
    width: 50%;
    border: 11px inset #9dbde7;
    padding: 10px;
    background-color: #dddddd;
    font-family: arial;
}
.siteTitle{
    text-align: left;
    margin: auto;
    height: 40px;
    width: 100%;
    padding: 0px;
    background-color: #dddddd;
}

iframe{
    font: arial;
    font-size: 20px;
}

#innerframe{
    font: arial;
    font-size: 30px;
}

.container {
    text-align: center;
}