body{
    background-color: #232a3b;
    margin-top: 100px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    font-family: arial;
}
.userLog{
  width: 400px;
  height: 400px;
  frameborder: 0px;
  font: arial;
}
.userBox{
  text-align: left;
  font: arial;
  font-size: 15px;
}
.chatBox {
    border-radius:20px 20px;
    text-align: left;
    margin: auto;
    height: 500px;
    width: 50%;
    border: 11px inset #9dbde7;
    padding: 10px;
    background-color: #dddddd;
    font-family: arial;
}
.siteTitle{
    text-align: left;
    margin: auto;
    height: 40px;
    width: 100%;
    padding: 0px;
    background-color: #dddddd;
}

iframe{
    font: arial;
    font-size: 20px;
    width: 100%
    height: 100%;
}

#innerframe{
    font: arial;
    font-size: 30px;
    width: 100%;
    height: 100%;
}

#box {
    width: 50%;
    border: 5px #300000;
    border-radius:10px 10px;
}

.container {
    align-content: center;
    text-align: center;
    padding: 10px;
}

.instructions {
    color:  #aaaaaa;
    font-style: italic;
}

.title {
    color: #ffffff;
    text-shadow: 8px grey;
    letter-spacing: 5px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    background-color: #9dbde7;
    position:fixed;
    width: 100%;
    z-index:1;
    top:0px;
    display: inline-block;
}

.title a{
    float: right;
    padding-right: 5px;
}

h1 {
    background-color: #9dbde7;
}


footer {
    font-family: Courier New;
    color: #C0C0C0;
    text-align: center;
    font-size: 11px;
    bottom: 0px;
}

.btn {
  background: #f01818;
  background-image: -webkit-linear-gradient(top, #f01818, #ad0e0e);
  background-image: -moz-linear-gradient(top, #f01818, #ad0e0e);
  background-image: -ms-linear-gradient(top, #f01818, #ad0e0e);
  background-image: -o-linear-gradient(top, #f01818, #ad0e0e);
  background-image: linear-gradient(to bottom, #f01818, #ad0e0e);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: Arial;
  color: #fcfcfc;
  font-size: 12px;
  padding: 4px 7px 4px 7px;
  border: solid #eb2323 0px;
  text-decoration: none;
}

.btn:hover {
  background: #ffffff;
  background-image: -webkit-linear-gradient(top, #ffffff, #cc3333);
  background-image: -moz-linear-gradient(top, #ffffff, #cc3333);
  background-image: -ms-linear-gradient(top, #ffffff, #cc3333);
  background-image: -o-linear-gradient(top, #ffffff, #cc3333);
  background-image: linear-gradient(to bottom, #ffffff, #cc3333);
  text-decoration: none;
}
