body{
    background-color:#262626;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px
}
.userlog{
  width=400;
  height=400;
  frameborder=0;
}
.userBox{
  text-align: center;
}
.chatBox {
    border-radius: 70px 50px;
    text-align: center;
    margin: auto;
    height: 500px;
    width: 50%;
    border: 9px inset #00868b;
    padding: 10px;
    background-color: #eeeeee;
}
.siteTitle{
    text-align: left;
    margin: auto;
    height: 40px;
    width: 100%;
    padding: 0px;
    background-color: #dddddd;
}
