body{
    background-color: #232a3b;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    font-family: arial;
}
.userLog{
  width: 400px;
  height: 400px;
  frameborder: 0px;
  font: arial;
}
.userBox{
  text-align: left;
  font: arial;
  font-size: 15px;
}
.chatBox {
    border-radius:20px 20px;
    text-align: left;
    margin: auto;
    height: 500px;
    width: 50%;
    border: 11px inset #9dbde7;
    padding: 10px;
    background-color: #dddddd;
    font-family: arial;
}
.siteTitle{
    text-align: left;
    margin: auto;
    height: 40px;
    width: 100%;
    padding: 0px;
    background-color: #dddddd;
}

iframe{
    font: arial;
    font-size: 20px;
}

#innerframe{
    font: arial;
    font-size: 30px;
}

#box {
    width: 50%;
    border: 5px #300000;
    border-radius:10px 10px;
}

.container {
    align-content: center;
    text-align: center;
    padding: 10px;
}

.instructions {
    color:  #aaaaaa;
    font-style: italic;
}

.btn {
  background: #f01818;
  background-image: -webkit-linear-gradient(top, #f01818, #ad0e0e);
  background-image: -moz-linear-gradient(top, #f01818, #ad0e0e);
  background-image: -ms-linear-gradient(top, #f01818, #ad0e0e);
  background-image: -o-linear-gradient(top, #f01818, #ad0e0e);
  background-image: linear-gradient(to bottom, #f01818, #ad0e0e);
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  font-family: Arial;
  color: #0a080a;
  font-size: 16px;
  padding: 3px 8px 3px 8px;
  text-decoration: none;
}

.btn:hover {
  background: #f58134;
  background-image: -webkit-linear-gradient(top, #f58134, #d93434);
  background-image: -moz-linear-gradient(top, #f58134, #d93434);
  background-image: -ms-linear-gradient(top, #f58134, #d93434);
  background-image: -o-linear-gradient(top, #f58134, #d93434);
  background-image: linear-gradient(to bottom, #f58134, #d93434);
  text-decoration: none;
}